@import url('https://fonts.googleapis.com/css2?family=Commissioner');

body{
  font-family: 'Commissioner';
  background-image: url("images/vinyl.jpg");
}


/* Flexbox Navbar */
.flexbox-header {
    display: flex;
}

.flexbox-header > div:nth-child(3) {
    margin-left: auto;
}

.header {
    grid-column: 1 / -1;
}

.flexbox-header > div {
  display: flex;
  font-size: 1em;
  padding: 10px 20px;
}

.flexbox-header {
  background-color: #000000        ;
  color: white;
}

.header {
    background-color: #000000        ;	
}

.header :nth-child(2) {
    padding: 0 40px;
}


/* fonts */
h1{
border: solid;
border-color: black;
background-color: black;
  font-size: 35px;
  text-align: center;
  color: white;
  padding: 0.2em;

}

h2{

  font-size: 30px;
  text-align: center;
  color: white;

}

p{
border: solid;
border-color: black;
background-color: black;
  font-size: 25px;
  text-align: center;
  color: white;
  padding:0.2em;
}

/* Containers */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.main {
  display: flex;
  flex-direction: column;
  align-items: center;
   
}


.image1{

  height: auto;
  width: 100%;

  max-width: 720px;

}


